<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageTitle | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let item of switchGroup" id="home-card21">
    <ion-list>
      <ion-item class="cardTitle" id="home-list-item5">
        <ion-icon name="home" item-left></ion-icon>
        {{item.title}}
      </ion-item>
      <form id="home-form1" *ngFor="let items of item.switch">
        <ion-item class="cardgrp" id="home-toggle1">
          <ion-label>
            {{items}}
          </ion-label>
          <ion-toggle color="positive"
          (ionChange)="presentToast($event, item.title, items)"
          cheked="false"></ion-toggle>
        </ion-item>
      </form>
      <ion-item class="cardTitle" id="home-list-item4">
        <ion-icon name="open" item-left></ion-icon>
        See in Detail
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>